#wrapper{
	margin: auto;
	margin-top: 15%;
    width: 15%;
    padding: 10px;
}

#page{
	margin-left:15%;
	margin-right:15%;
	height:90%;
	
	
}

#map{
    height: 400px;
    width: 30%;
	border:2px solid #99c0ff;
	float:left;
}

#head{
	font-family:Arial;
}

#email{
	border:none;
	border-bottom: 2px solid #99c0ff;
}

#pass{
	border:none;
	border-bottom: 2px solid #99c0ff;
}

#updateFence{
	float:right;
}

#logOut{
	float:right;
}
.tabs{
	
}

.input{
	font-family:Arial;
}

.btn{
	background-color: #99c0ff; 
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}